/* Styles for mobile version */
.container {
  width: 85%;
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
  background: #f4ede2;
  text-align: left;
}
.title {
  display: flex;
  align-items: center;
}
.title h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 6px;
}
.text p {
  font-size: 0.8rem;
}

/* Styles for desktop version */
@media screen and (min-width: 768px) {
  .container {
    width: 55%;
  }
  .title h2 {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .text p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 25%;
  }
}
