/* Styles for mobile version */
.playerInput {
  width: 90%;
  margin: 10px auto;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #f72e2e;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

/* Styles for desktop */
@media only screen and (min-width: 768px) {
  .playerInput {
    width: 50%;
    margin: 20px auto;
    padding: 16px;
    font-size: 18px;
    border-radius: 8px;
  }
}
