/* Styles for mobile version */
.playerInput {
  width: 100%;
  margin: 10px auto 20px auto;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #6e3232;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

/* Styles for desktop */
@media only screen and (min-width: 768px) {
  .playerInput {
    /* margin: 5px auto; */
    padding: 15px;
    font-size: 17px;
  }
}
