/* Styles for mobile version */
.header {
  margin-bottom: 7px;
  color: #fff;
  background: #333;
  padding: 8px;
  text-align: center;
  border-radius: 15px;
  filter: opacity(0.4);
}
.headerTitle {
  font-size: 1rem;
  margin-bottom: 8px;
}
.headerDescription {
  font-size: 0.8rem;
}

/* Styles for desktop version */
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 15px;
    padding: 10px;
  }
  .headerTitle {
    font-size: 1.5rem;
  }
  .headerDescription {
    font-size: 1rem;
  }
}
