.gameBoard {
  min-width: 500px;
  margin: 30px auto 0;
  padding: 20px;
  border: 2px solid #9e1818;
  border-radius: 10px;
  background: #f9f9f9;
}
.gameBoard h2 {
  margin-bottom: 20px;
}
.scoreboard {
  margin-bottom: 20px;
  height: 25px;
  background: #ccc;
  border-radius: 5px;
}
.accuracyLine {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}
.accuracyText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 0.8rem;
}
.boardBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #ff5100;
  transition: background-color 0.3s ease;
}
.boardBtn:hover {
  background: #b33900;
}
