/* Style for mobile version */
.modalBackdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fffefe;
  border: 3px solid #423232;
  border-radius: 10px;
  z-index: 999;
}
.modalContent {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: calc(100svh - 140px);
  width: calc(100vw - 55px);
  max-width: 460px;
  padding: 20px;
}
.closeButton {
  display: flex;
  position: absolute;
  background: #fffefe;
  border-radius: 14px;
  padding: 5px 7px;
  position: absolute;
  top: -2%;
  right: -2%;
  outline: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  text-align: left;
}
li {
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
}
.accordionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordionTitle h3 {
  margin-right: 12px;
  line-height: 1.7rem;
}
.accordionConetnet {
  line-height: 1.3rem;
  font-size: 0.9rem;
}
.modalBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  color: #423232;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.modalBtn:hover {
  background: #f4ede2;
}

/* Desktop Styles */
@media screen and (min-width: 768px) {
  .modalContent {
    max-width: 500px;
  }
  .closeButton {
    cursor: pointer;
  }
}
