.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: #f3dcdc;
  font-family: "Arial", sans-serif;
}
.headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}
.accordionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modalTitle {
  display: flex;
  align-items: center;
}
